 <!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#/home">
                Home
            </a>
        </li>
        <li>
            <a href="#/stackoverflow">Stack Overflow</a>
        </li>
        <li>
            <a href="#/github">Github</a>
        </li>
        <li>
            <a href="#/linkedin">Linkedin</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
	<div class="fade" ui-view id="secondary-wrapper"></div>
</div>