<div class="col-md-12" style="margin-top:22px;">
	<div class="row">
		<div class="col-md-4">
			<div class="well text-center">
				<img ng-src="{{li.profile['picture-url'][0]}}" 
					 class="circular-mini" />
				 <h5>Name</h5>
				 <h4>Sebastian Jonasson</h4>
				 

				 <h5>Current Occupation</h5>
				 <h4>{{li.profile.headline[0]}}</h4>

				 <h5>Location</h5>
			<h3>{{li.profile.location[0]['name'][0]}}</h3>

			</div>
		</div>
	
		<div class="col-md-4" ng-repeat="pos in li.profile.positions[0].position">
				<div class="panel panel-primary">
				    <div class="panel-heading text-center">
				    	<h1 style="font-size: 70px;">
				    		<i class="mdi-action-wallet-travel"></i></h1></div>
				    <div class="panel-body">
				        {{pos.company[0].name[0]}}<br />
				        {{pos['start-date'][0].month[0]}}/{{pos['start-date'][0].year[0]}}-{{pos['end-date'][0].month[0]}}/{{pos['end-date'][0].year[0]}} - {{pos.title[0]}}</div>
				</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading text-center"><h1 style="font-size: 70px;"><i class="mdi-social-school"></i></h1></div>
				<div class="panel-body text-center">
					<h4>{{li.profile.educations[0].education[0]["field-of-study"][0]}}</h4>
					<h3>{{li.profile.educations[0].education[0]["school-name"][0]}}
						            	{{li.profile.educations[0].education[0]["degree"][0]}}</h3>
				</div>
			</div>
		</div>
	</div>

		<div class="col-md-12">
			<div class="row">
				<h3>Skills</h3>
				<div class="col-md-2" ng-repeat="skill in li.profile.skills[0].skill">
				<div  
					  class="well"
					  style="margin-left: 0.5em;">{{skill.skill[0].name[0]}}</span> 
			</div>
		</div>
		</div>

</div>