<div ng-init="showOptions = false; order = 'title'; filter = {}; reverse = false; search='';">

<div class="container" style="margin-top:2em;">				
	<div class="row">
		<div class="col-md-3 fade">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<img ng-src="{{soCtrl.profile.profile_image}}" 
					class="circular" />

					<h2>{{soCtrl.profile.display_name}}</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 fade">
			<div class="panel panel-primary">
				<div class="panel-heading text-center"><h1 style="font-size: 70px;"><i class="mdi-action-stars"></i></h1></div>
				<div class="panel-body text-center">
					<h5>Reputation</h5> 
					<h3>{{soCtrl.profile.reputation}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading text-center"><h1 style="font-size: 70px;"><i class="mdi-action-question-answer"></i></h1></div>
				<div class="panel-body text-center">
					<h5>Answers</h5>
					<h3>{{soCtrl.profile.answer_count}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading text-center"><h1 style="font-size: 70px;"><i class="mdi-action-help"></i></h1></div>
				<div class="panel-body text-center">
					<h5>Questions</h5>
					<h3>{{soCtrl.profile.question_count}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-warning">
				<div class="panel-heading text-center"><h1 style="font-size: 70px;"><i class="mdi-maps-beenhere"></i></h1></div>
				<div class="panel-body text-center">
					<h5>Badges</h5>
					<h3>{{soCtrl.profile.badge_counts.gold}} // {{soCtrl.profile.badge_counts.silver}} // {{soCtrl.profile.badge_counts.bronze}}</h3>
				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="well text-center">
				<h2 id="test">Answers</h2>
			</div>
			<div class="well">
				<div class="form-group">
					<input class="form-control floating-label" 
					id="focusedInput" 
					type="text" 
					placeholder="Write something to make the label float"
					ng-model="search"
					ng-change="soCtrl.filterList(search)"></div>

					<h5>Filter</h5>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button"
						class="btn btn-default"
						ng-click="filter = {is_accepted:false}">
						Not Accepted Answers</button>
						<button type="button"
						class="btn btn-default"
						ng-click="filter = {is_accepted:true}">
						Accepted Answers</button>
						<button type="button"
						class="btn btn-default"
						ng-click="filter = {}">
						None</button>
					</div>

					<h5>Order</h5>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button"
						class="btn btn-default"
						ng-click="order = 'title'; reverse = false">
						Title</button>
						<button type="button"
						class="btn btn-default"
						ng-click="order = 'score';  reverse = true">
						Score</button>
					</div>
				
			</div>
			<div class="list-group">
				<div ng-repeat="d in soCtrl.items | filter:filter | orderBy:order:reverse" 
					 class="well fade"
					 ng-init="showContent = false">

					<div class="list-group-item sub">
						<div class="row-action-primary">
							<i class=""> {{d.score}}</i>
						</div>
						<div class="row-content">
							<div ng-if="d.is_accepted" class="least-content">Accepted answer</div>
							<h4 class="list-group-item-heading">
								<a ng-href="{{d.link}}"
								target="_blank">{{d.title}}</a>
							</h4>
							<button ng-click="showContent = !showContent" class="btn btn-success pull-right">Toggle Answer</button>
							<p>{{soCtrl.getDate(d.creation_date)}}</p>
							<p ng-if="showContent" ng-bind-html="soCtrl.getHtml(d.body)"></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>

