/* Animations */
/* lists */
.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) all;
    -moz-transition: 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) all;
    -ms-transition: 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) all;
    -o-transition: 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) all;
    transition: 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}


/* **** */

.sub.ng-enter, 
.sub.ng-leave { 
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.sub.ng-leave.sub.ng-leave-active,
.sub.ng-enter  {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}        
 
.sub.ng-enter.ng-enter-active, 
.sub.ng-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

/* **** */


.fade {
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/* VIEW TRANSISTION*/

.at-view-slide-out-left.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
    width: 100%;
}

.at-view-slide-out-left.ng-leave-active {
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    position: absolute;
}

.at-view-slide-in-left.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    -o-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.at-view-slide-in-left.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
}







/* NG SHOW*/


.at-view-slide-in-top {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
    z-index: 1;
    position: relative;
}

.at-view-slide-in-top.ng-hide {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: relative;
}

.at-view-slide-out-top {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: relative;
}

.at-view-slide-out-top.ng-hide {
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
}





/* REPEAT */
.at-repeat-fade-in.ng-enter, .at-repeat-fade-out.ng-leave {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.at-repeat-fade-in.ng-enter, .at-repeat-fade-out.ng-leave {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.at-repeat-fade-in.ng-enter {
    opacity: 0;
}

.at-repeat-fade-in.ng-enter-active {
    opacity: 1;
}

.at-repeat-fade-out.ng-leave {
    opacity: 1;
}

.at-repeat-fade-out.ng-leave-active {
    opacity: 0;
}


.at-repeat-wave-in.ng-enter, .at-repeat-wave-out.ng-leave {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.at-repeat-wave-in.ng-enter, .at-repeat-wave-out.ng-leave {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.at-repeat-wave-out.ng-leave {
    opacity: 1;
}

.at-repeat-wave-in.ng-enter {
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%);
    opacity: 0;
}

.at-repeat-wave-out.ng-leave-active {
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%);
    opacity: 0;
}

.at-repeat-wave-in.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

