<div id="wrapper" 
     ng-init="is_accepted_status = true; 
              is_accepted_filter = {is_accepted:is_accepted_status}">

  <h1>Stackoverflow <small>Reputation 937</small></h1>

  <div class="row">
  <div class="item"
       ng-repeat="d in someData | orderBy:'score':true">
  <div class="panel panel-default">
       
    <div class="panel-heading">
      <span class="pull-right">{{d.score}} </span>
      <span class="glyphicon glyphicon-ok pull-right" 
            aria-hidden="true" 
            ng-if="d.is_accepted"></span>
      <h3 class="panel-title"> 
          <a href="#/stackoverflow/{{d.answer_id}}">
             {{d.title}}</a></h3>

    </div>
    <div class="panel-body text-center" >
         <img src="img/so-icon.png" />
    </div>
  </div>
</div>
</div>