<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">

     <div class="col-md-2 shade-2 sidebar at-view-slide-out-top at-view-slide-out-top" ng-show="appCtrl.hideSidebar == false">
        <h3>Sebastian Jonasson</h3>
        <hr />
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><i class="fa fa-stack-overflow"></i> Stack Overflow</li>
          <li role="presentation"><a href="#/stackoverflow/profile"><i class="fa fa-user"></i> Profile</a></li>
          <li role="presentation"><a href="#/stackoverflow/answers"><i class="fa fa-reply"></i> Answers</a></li>
          <li role="presentation"><a href="#/stackoverflow/questions"><i class="fa fa-question"></i> Questions</a></li>
          <li role="presentation"><i class="fa fa-linkedin"></i> Linkedin</li>
          <li role="presentation"><a href="#linkedin/profile"><i class="fa fa-user"></i> Profile</a></li>
          <li role="presentation"><i class="fa fa-github"></i> Github</li>
           <li role="presentation"><a href="#github"><i class="fa fa-database"></i> Repos</a></li>
        </ul>
        <hr />
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a target="_blank" href="https://github.com/sebastianjonasson/website-boilerplate-node-angular">Github repo for this website</a></li>
        </ul>
	  </div>
	  <div class="no-side-pad" id="main"
         ng-class="{'col-md-12': appCtrl.hideSidebar, 'col-md-offset-2': !appCtrl.hideSidebar, 'col-md-10': !appCtrl.hideSidebar}">
         <button class="btn btn-primary" id="menu-button" ng-click="appCtrl.hideSidebar = !appCtrl.hideSidebar">Menu</button>
	  	<div class="at-view-scale-in at-view-fade-out" ui-view  id="secondary-wrapper"></div>

	  </div>
</div>