        <div class="row text-center header shade-2">
          <div class="col-md-6 col-md-offset-3 text-center">
            <img ng-src="{{li.profile.pictureUrl}}" class="circular shade-4 pull-left"/>
            <h4>{{li.profile.headline}}</h4>
          </div>
          
        </div>
        <div class="row">
          <div class="container">
            <div class="col-md-12" ng-init="tabToShow = 'work'">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-click="tabToShow='work'" class="active"><a aria-controls="work-history" role="tab">Work history</a></li>
                    <li role="presentation" ng-click="tabToShow='education'"><a aria-controls="education" role="tab" >education</a></li>
                    <li role="presentation" ng-click="tabToShow='skills'"><a aria-controls="skills" role="tab" >skills</a></li>
                    <li role="presentation" ng-click="tabToShow='about'"><a aria-controls="about" role="tab">about</a></li>
                  </ul>

                  <!-- Tab panes -->
                    <div class="col-md-12" ng-show="tabToShow == 'work'">

               
          <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="work in li.profile.positions.values">
              <h4 class="list-group-item-heading">{{work.title}}</h4>
              <h5>{{work.company.name}}</h5>
              <p>{{work.startDate.month}}/{{work.startDate.year}} <span ng-if="!work.isCurrent">- {{work.endDate.month}}/{{work.startDate.year}}</span><p>
              <p class="list-group-item-text" ng-if="work.summary">{{work.summary}}.</p>
            </a>
          </div>


                    </div>
                    <!-- EDUCATION -->
                    <div class="col-md-12" ng-show="tabToShow == 'education'">System utvecklare</div>
                    <!-- END EDUCATION -->
                    <!-- SKILLS -->
                    <div class="col-md-12" ng-show="tabToShow == 'skills'">
                      <span class="label label-primary font-size-full"
                      		ng-repeat="skill in li.profile.skills.values">{{skill.skill.name}}</span>
                    </div>
                    <!-- END SKILLS -->

                    <!-- ABOUT -->
                    <div class="col-md-12" ng-show="tabToShow == 'about'">
                      <div class="row">
                        <div class="col-md-6">
                              <h5><i class="fa fa-align-justify"></i> Summary</h5>
                            <p>{{li.profile.summary}}</p>
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-6">
                            <h5><i class="fa fa-map-marker"></i> Current location</h5>
                            <h6>{{li.profile.location.name}}</h6>
                          </div>
                          <div class="col-md-6">
                            <h5><i class="fa fa-users"></i> Connections</h5>
                            <h6>{{li.profile.numConnections}}</h6>
                          </div>
                          <div class="col-md-6">
                            <h5><i class="fa fa-graduation-cap"></i>Education</h5>
                            {{li.profile.educations.values[0].fieldOfStudy}}
                          </div>
                          <div class="col-md-6">
                           <h5><i class="fa fa-info-circle"></i> Personal Details</h5>
                            --REPLACE
                         </div>
                         <div class="col-md-6">
                           <h5><i class="fa fa-gamepad"></i> Interests</h5>
                           --REPLACE
                         </div>
                       </div>
                        

                      
                    </div>
                    <!--  END ABOUT -->

                </div>
            </div>
          <div class="col-md-4">

        </div>
      </div>
      </div>
      </div>
