<div class="row text-center header shade-2">
	<div class="col-md-4 col-md-offset-4 text-center">
		<img ng-src="{{so.profile.profile_image}}" class="circular shade-4"/>
    <h4 class="inline-header">{{so.profile.display_name}}</h4>
  	</div>
</div>
 <div class="container">
        <div class="row stackoverflow-profile-data">
          <div class="col-md-3">
              <h5><i class="fa fa-star"></i> Reputation</h5>
              <h6>{{so.profile.reputation}}</h6>
            </div>
            <div class="col-md-3">
              <h5><i class="fa fa-pencil"></i> Answers</h5>
              <h6>{{so.profile.answer_count}}</h6>
            </div>
            <div class="col-md-3">
              <h5><i class="fa fa-question"></i> Questions</h5>
              <h6>{{so.profile.question_count}}</h6>
            </div>
            <div class="col-md-3">
              <h5><i class="fa fa-question"></i> Badges</h5>
              <h6>{{so.profile.badge_counts.gold}} // {{so.profile.badge_counts.silver}} // {{so.profile.badge_counts.bronze}}</h6>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Recent Activity</div>
                <div class="panel-body">
                  <canvas id="pie" 
                          class="chart chart-pie" 
                          data="so.data" 
                          labels="so.labels"
                          legend="true"></canvas> 
                </div>
            </div>
          </div>
         
        
          <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body no-pad">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Recent Answers</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="answer in so.recentAnswers"
                          ng-click="so.viewAnswer(answer.answer_id);">
                        <td>
                          {{answer.title}}
                        </td>
                      </tr>
                      <tr ui-sref="app.stackoverflow.answers">
                        <td>View All</td>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body no-pad">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Recent Questions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="question in so.recentQuestions"
                          ng-click="so.viewQuestion(question.question_id);">
                        <td>{{question.title}}</td>
                      </tr>
                      <tr ui-sref="app.stackoverflow.questions">
                        <td>View All</td>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>