<div ng-init="showOptions = false; order = 'title'; filter = {}; reverse = false; search='';" style="height:100%;"> 


<div layout="row" style="background-color:lightgray; height:100%;">

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" 
				md-component-id="asd" 
				md-is-locked-open="soCtrl.$mdMedia('gt-md') && !soCtrl.selectedItem">
	  <md-toolbar class="md-theme-indigo md-whiteframe-z2">
	  	<div layout="column" layout-align="center center" style="margin-bottom:1em;">
	  	<img ng-src="{{soCtrl.profile.profile_image}}" 
					class="circular md-whiteframe-z2" />
					{{soCtrl.profile.display_name}}</div>
		<md-divider></md-divider>
		<div layout="row" layout-align="center center" style="padding: 1em; font-size:14px;">
			<div flex>
				<span>Reputation</span><br />
				<strong>{{soCtrl.profile.reputation}}</strong>
			</div>
			<div flex>
				<span>Answers</span><br />
				<strong>{{soCtrl.profile.answer_count}}</strong>
			</div>
			<div flex>
				<span>Questions</span><br />
					<strong>{{soCtrl.profile.question_count}}</strong>
			</div>
		</div>

	  </md-toolbar>
	  <md-content ng-init="showFilters = false">
	  <md-input-container>

	  	<md-list style="padding-left: 2em;">
	      <md-item>
	        <md-item-content>
	          <div class="md-tile-left">
	              <i class="fa fa-cog"></i>
	          </div>
	          <div class="md-tile-content">
	            <h4 ng-click="showFilters = !showFilters">Filters</h4>
	          </div>
	        </md-item-content>
        </md-item>
        <md-item>
	        <md-item-content>
	          <div class="md-tile-left">
	              <i class="fa fa-stack-overflow"></i>
	          </div>
	          <div class="md-tile-content">
	            <h4>Stackoverflow Profile</h4>
	          </div>
	        </md-item-content>
	      </md-item>
	      <md-divider></md-divider>
      	<md-item>
	        <md-item-content>
	          <div class="md-tile-left">
	              <i class="fa fa-github"></i>
	          </div>
	          <div class="md-tile-content">
	            <h4>Github</h4>
	          </div>
	        </md-item-content>
	      </md-item>
	      <md-item>
	        <md-item-content>
	          <div class="md-tile-left">
	              <i class="fa fa-linkedin"></i>
	          </div>
	          <div class="md-tile-content">
	            <h4>Linkedin</h4>
	          </div>
	        </md-item-content>
	      </md-item>
	    </md-list>
	    <div ng-if="showFilters">
	    	<md-divider></md-divider>
	      <label>Search</label>
	      <input ng-model="search"
				 ng-change="soCtrl.filterList(search)">
	    </md-input-container>
	  <h4>Filter</h4>
	  <md-radio-group ng-model="filter.is_accepted">
      	<md-radio-button value="true">Accepted answers</md-radio-button>
      	<md-radio-button value="false"> Not accepted answers</md-radio-button>
      	<md-radio-button value="" selected>None</md-radio-button>
      </md-radio-group>
      <h4>Order by</h4>
      <md-radio-group ng-model="order">
      	<md-radio-button ng-model="order" value="title" ng-click="reverse = false">Title</md-radio-button>
      	<md-radio-button value="score" ng-click="reverse = true">Score</md-radio-button>
      </md-radio-group>

      <md-select ng-model="search" placeholder="Select a state">
		  <md-option value="asd">asd</md-option>
		</md-select>
  </div>
	  </md-content>
	
		
	</md-sidenav>


  <div flex style="height:100%; margin: 24px 24px 0 24px;" >
     <md-content  class="md-padding md-whiteframe-z1" style="height:inherit;padding: 24px 24px 0 24px;" ng-if="!soCtrl.selectedItem">
        <md-list>
          <md-item ng-repeat="d in soCtrl.items | filter:filter | orderBy:order:reverse">
            <md-item-content ng-click="soCtrl.viewEntry(d);">
              <div class="md-tile-left">
              	<i class=""> {{d.score}}</i>
              </div>
              <div class="md-tile-content">
                <h3><a ng-href="{{d.link}}"
					   target="_blank">{{d.title}}</a></h3>
                <h4 ng-if="d.is_accepted">Accepted answer</h4>
                
              </div>
              <md-button ng-href="{{d.link}}">
		            <i class="fa fa-external-link" style="color:rgb(119, 119, 119);"></i>
            </md-button>
              
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>

          </md-item>
          
          
        </md-list>
        
      </md-content>
      <md-content ng-if="soCtrl.selectedItem" class="md-padding md-whiteframe-z1" style="height:inherit;padding: 24px;">
      		<md-button  ng-click="soCtrl.goBack()">Back</md-button>
      		<h2>{{soCtrl.selectedItem.title}}</h2>
      		<h4>{{soCtrl.selectedItem.creation_date}}</h4>

		  <p ng-if="soCtrl.selectedItem" ng-bind-html="soCtrl.getHtml(soCtrl.selectedItem.body)"></p>
		  <md-button ng-if="soCtrl.selectedItem" ng-click="soCtrl.goBack()">Back</md-button>
		</md-content>

    </div>
  </div>

